@import "variable";
@import "mixin";
@import "extend";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif !important;
}

/* Header Section */
    header{
        background-color: $secColor;
        position: fixed;
        width: 100%;
        top: 0;
        z-index: 999;
        .logo{
            @extend .width_float;
            h2{
                color: $primaryColor;
                margin-top: 13px;
            }
        }

        ul{
            @extend .width_float;
            display: flex;
            padding: 10px 0;
            li{
                padding: 10px 15px;
                a{
                    color: $thirdColor;
                    text-decoration: none;
                    font-weight: bold;
                    text-transform: uppercase;
                    @include Trans;
                    &:hover{
                        color: $primaryColor;
                        text-decoration: none;
                    }
                }
            }
        }
    }

/* Home Section */
    .home{
        background-image: $home_bg;
        height: 100vh;
        background-size: cover;
        position: relative;
        .home-content{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            h2{
                @extend .h2;
            }

            span{
                @extend .span;
            }

            p{
                @extend .p;
            }

            button{
                @extend .button-prim;
            }
        }
    }

/* Need Section */
    .need{
        background-color: $primaryColor;
        padding: 5rem 0;
        h2{
            @extend .h2;
        }

        span{
            @extend .span;
            background-color: #FFF;
        }

        p{
            @extend .p;
        }

        button{
            @extend .button-sec;
        }
    }

/* Service Section */
    .service{
        padding: 5rem 0;
        h2{
            @extend .h2;
            color: $secColor;
        }

        span{
            @extend .span;
            margin-bottom: 1px;
            ;
        }
        .service-parent{
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-gap: 15px;
            margin: 1.5rem 0;
            h3{
                margin: 1rem 0;
                color: #333;
            }
            p{
                color: #A4A4A4;
            }
        }
    }

    @for $i from 1 through 2 {
        .service-parent .fa-#{$i} {
            color: $primaryColor
        }
    }

/* Images Section */
    .images{
        display: grid;
        grid-template-columns: repeat(3, 1fr);

        > div{
            position: relative;

            img{
                width: 100%;
            }

            &:after{
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: rgba($primaryColor, 0.5);
                opacity: 0;
                @include Trans;
            }
            &:hover {
                &:after{
                    opacity: 0.8;
                }
            }
        }
    }

/* Download Section */
    .download{
        background-color: $secColor;
        padding: 5rem 0;
        h2{
            @extend .h2;
        }
        button{
            @extend .button-sec;
            margin: 1rem 0;
        }
    }

/* Touch Section */
    .touch{
        padding: 5rem 0;
        h2{
            @extend .h2;
            color: $secColor

        }

        > span{
             @extend .span;
        }

        p{
            @extend .p;
            font-size: 17px;
            color: #666464;
        }
        .touch-two{
            display: flex;
            justify-content: center;
            .item{
                margin: 1rem 1.5rem;
                a {
                    color: $primaryColor;
                    font-size: 18px;
                    text-decoration: none;
                    i{
                        display: block;
                    }
                    
                }
            }
        }
    }

@import "media";